main{
    display:flex;

    & > section{
        width:100%;

        #categories{
            background-color:white;
            padding:1em 3em;
            border-radius : 40px;
            display:flex;
            gap:1rem;
            flex-wrap:wrap;
            justify-content: center;

            li{
                list-style: none;
                padding:.5rem 1rem;
                cursor:pointer;

                &:hover, &.active{
                    border-radius:40px;
                    outline:1px solid var(--main-color);
                    color:var(--main-color);
                    font-weight: bold;
                }
            }
        }

        #recipes{
            display:flex;
            flex-wrap:wrap;
            gap:2rem;
            margin-top:3rem;
            justify-content: space-between;

            article{
                width:calc(33% - 1.4rem);
                background-color: white;
                border-radius:5px;
                padding:1rem;
                cursor:pointer;
                min-width:200px;
                flex-grow:1;
                
                img{
                    width:100%;
                    object-fit:cover;
                    margin-top:-2rem;
                    border-radius:5px;
                    transition:transform .3s;
                }

                div{
                    margin-top:1rem;
                    display:flex;
                    justify-content: space-between;
                    align-items: center;

                    p{
                        height:50px;
                        width:50px;
                        color:var(--main-color);
                        font-weight: 900;
                        font-size:1rem;
                        border-radius:5px;
                        line-height:0;
                        text-align: center;
                        border: 1px solid var(--main-color);
                        display:flex;
                        align-items: center;
                        justify-content: center;
                        transition:background-color .3s;

                        &:hover{
                            background-color: #EDEEF1;
                        }
                    }
                }

                h3{
                    transition:color .3s;
                    max-width:calc(100% - 50px);
                }

                &:hover{
                    img{
                        transform:translateY(-.5rem);
                    }
                    h3{
                        color:var(--main-color);
                    }
                }
            }
        }
    }
}