#recipe{
    display:flex;
    gap:2rem;

    @media screen and (max-width:1024px) {
        flex-direction:column;
    }

    &>img{
        width:50%;
        border-radius:1rem;
        object-fit: cover;

        @media screen and (max-width:1024px) {
            width:100%;
            max-height:300px;
        }
    }

    &>aside{
        width:50%;

        #openModale{
            cursor: pointer;
            height:50px;
            color:var(--main-color);
            font-weight: 900;
            font-size:1rem;
            border-radius:5px;
            line-height:0;
            text-align: center;
            border: 1px solid var(--main-color);
            display:flex;
            align-items: center;
            justify-content: center;
            transition:background-color .3s;

            &:hover{
                background-color: var(--main-color);
                color:white;
            }
        }

        @media screen and (max-width:1024px) {
            width:100%;
        }
    }
}