.modal{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:99;
    display:flex;
    align-items: center;
    justify-content: center;

    .overlay{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-color:#000000CC;
        cursor:pointer;
    }

    .modalContent{
        width:80%;
        max-width: 1400px;
        background-color: white;
        border-radius:40px;
        z-index:1;
        position:relative;
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        padding:2rem;

        .closeModal{
            position:absolute;
            top:2rem;
            right:2rem;
            margin:0;
            color:red;
            z-index:1;
            font-size:1.5rem;
            font-weight:100;
            cursor:pointer;
            line-height: 0;
        }
    }
}